<!DOCTYPE html>
<html>
<head>
<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>
</head>
<body>

<div class="container">

<header>
   <h1>ABOUT</h1>
</header>



{{template "nav-main"}}


<article>
  <h1>In a world of mental ailments..</h1>
  <p style="text-align:center;">

We wish to - Provide the best evidence-based mental health &
psychology information, regardless of profession.
All voices are important and should be elevated
in the discourse about mental illness & mental health.
</p>

<p> Psych Central is wholly owned and operated
by Dr. John Grohol.</p>

<p>Psych Central is inspired by the loss of John’s childhood best friend due to suicide and his search for meaning of this loss.</p>

<p>Psych Central is affiliated with the Psych Central Community Connection, a 501(c)3 public charity</p>

</article>

{{template "footer"}}

</div>

</body>
</html>




